body {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

h1 {
	text-align: left;
	border: 2px solid black;
	padding: 4px;
	border-radius: 10px;
	text-align: center;
	background-color: #f7f7f7;
	box-shadow: 2px 2px 4px #888888;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 50%;
	
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
	
}

li a:hover {
    background-color: #333;
    color: white;
}
nav li a {
    color: #333;
    text-decoration: none;
    padding: 10px 0px;
    border-radius: 10px;
    transition: background-color 0.2s ease;
	box-shadow: 2px 2px 4px #888888;
}

nav ul ul {
	display: none;
}

nav ul li:hover > ul {
	display:inherit;
}

nav ul {
	list-style: none;
	position: relative;
	display: inline-table;
}
nav ul:after {
	content: ""; clear: both; display: block;
}

nav ul li {
	float: left;
}
nav ul li:hover {
	background: #4b545f;
}
nav ul li:hover a {
	color: #fff;
}

nav ul li a {
	display: block; padding: 15px 20px;
	color: white; text-decoration: none;
	background-color: grey;
}

nav ul ul {
	border-radius: 10px; padding: 10px;
	position: absolute; top: auto;
}
nav ul ul li {
	float:none; 
	border-top: 10px;
	border-bottom: 1px solid #575f6a; position:relative;
}
nav ul ul li a {
	padding: 10px 20px;
	color:#fff;
}	
nav ul ul li a:hover {
	background: #4b545f;
	padding: 10px;
}
nav ul ul ul {
	position:absolute; left:100%; top:-10px;
}
