/* Estilos generales para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #2F4050; /* <azul oscuro>*/
	/* background-color: #79A341; <verde> */
	/* background-color: #009DCA; <azul claro> */
	/* background-color: #F3F3F4; */
}

/* Estilos para la imagen del logo */
.logo {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 150px; /* ajustar el ancho del logo */
    height: 150px; /* ajustar la altura del logo */
}

/* Estilos para el botón cuando se hace hover */
button:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Estilos para el campo de texto de entrada */
input[type="text"] {
    padding: 8px;     border-radius: 5px;     border: none;    flex-grow: 1; margin: 5px;
}
input:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Estilos para el botón de envío de formulario */
button[type="submit"] {
    padding: 8px;
    border-radius: 5px;
    border: none; /* darle borde al boton si se elimina queda en borde negro */
    background-color: white;
    color: black;
    margin-left: 10px;
    cursor: pointer;
    font-weight: bold;
}

#search-input {
  border: 1px solid #ccc;
}

/* Estilos para los títulos de la página */
h1 {
    text-align: left;
    border: 2px solid black;
    padding: 4px;
    border-radius: 10px;
    text-align: center;
    background-color: #f7f7f7;
    box-shadow: 2px 2px 4px #888888;
}

/* Estilos para las listas */

/* Estilos para los enlaces de las listas */
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    border-radius: 1px;
    text-decoration: none;
}

/* Estilos para la barra de navegación */
nav {
    background-color: #f2f2f2;
    margin: 0;
  }
nav ul {
    margin: 0;
    padding: 6px;
    list-style: none;
}
nav ul li {
    position: relative;
    flex: 1; /* cada elemento del menú ocupa un espacio igual */
  }
nav ul.main-menu {
    display: table;
    width: 99%;
    table-layout: fixed;
    top: auto;
 }
 nav ul.main-menu > li {
    display: table-cell;
    position: relative;
  }
  
  /* Estilos para los enlaces de las listas (items principales) */
  nav ul.main-menu > li > a {
    display: block;
    padding: 10px;
    color: white;
    font-size: 14px;
    text-decoration: none;
    transition: background-color 0.2s ease;
  }

  /* Estilos para los enlaces de las listas cuando se hace hover */
  nav ul.main-menu > li:hover > a {
    background-color: #476c99;
    color: white;  
  }  
  nav ul li:hover {
    background: #4b545f;
    border-radius: 5px;
}
nav ul li a {
    background-color: rgb(128, 128, 128);
    text-align: center; /* Centrar el texto solo en los elementos del menú */

}
  /* Estilos para los submenus en listas desplegables */
  nav ul.sub-menu { /* menu desplegable y fondo*/
    display: none;
    position: absolute;
    top: auto;   
    background-color: #ffffffb6;
    border: 1px solid #ccc;
    max-width: auto;
    max-height: auto;
    left: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1); /* agrega un contorno */
  }
    /* Estilos para los enlaces dentro de los submenus */
  nav ul.sub-menu li {
    display: block; 
  }
  nav ul.sub-menu li a {
    display: flex;
    padding: auto;
    color: whitesmoke;
    white-space: nowrap;
  }
  
  nav ul.sub-menu li:hover > a {
    background-color: #476c99;
  }
  
  nav ul.sub-menu li:hover > ul {
    display: block;
  }
  
  nav ul.sub-menu ul {
    position: absolute;
    top: 0;
    left: 100%;
}
  
  /* Estilos para los elementos de los submenús */
  ul.sub-menu li {
    display: block;
    padding: 10px;
  }
  
  /* Estilos para los enlaces de los submenús */
  ul.sub-menu li a {
    display: block;
    color: #333;
    text-decoration: none;
  }
  
  /* Estilos para los submenús que tienen submenús anidados */
  ul.sub-menu ul.sub-menu {
    top: 0;
    left: 100%;
    min-width: initial;
  }
  
  /* Mostrar los submenús al pasar el mouse por encima */
  ul.menu li:hover > ul.sub-menu {
    display: block;
  } 


  
/* Estilos para los enlaces de la barra de navegación cuando se hace hover */


/* Estilos para las sub */
nav ul li:hover > ul {
    display: block;
}
nav ul ul {
    display: none;
    border-radius: 10px; 
    padding: 10px;
    position: absolute; 
    top: auto;
}

nav ul ul li {
    float:none; 
    border-top: 15px;
    border-bottom: 0 solid #575f6a; 
    position:relative;
    padding: 5px;
}
nav ul ul li a {
    padding: 8px 15px;
    color:#fff;
}   
nav ul ul li a:hover {
    background: #476c99;
    padding: 10px;
}
nav ul ul ul {
    position:absolute; 
    left:100%; 
    top:-10px;
}

/* ###################################### */
/* Estilo para la caja donde se muestra las paginas locales */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#content-frame {
  width: 100%;
  min-height: 100%;
  background-color: white;
}
/* estilo para el boton de reiniciar pantalla */
.reset-button {
    font-size: 14px;
    /* background-color: #79A341;  COLOR VERDE1*/
    background-color: #3e8e41; /* COLOR VERDE2*/
    color: white;
    padding: 10px;
    /* border: none; darle borde al boton si se elimina queda en borde negro */
    /* border-radius: 5px; darle radio o redondeo a las esquinas */
    cursor: pointer;
}
